html {
	--black: #222222;
	--white: #FFFBFF;
	--yellow: #FFBE02;
	--green: #27A662;

	--box-shadow-colour: #22222222;

	--base-width: 8rem;
	--base-font-size: 1rem;
	--border-thickness: 0.1rem;

	--base-horizontal-padding: calc(var(--base-width) * 0.3);
	--base-vertical-padding: calc(var(--base-font-size) * 2.4);
}
@media (width <= 750px) {
	html {
		--base-width: 18vw;
	}
}

body {
	background-color: var(--white);
	margin: 0;
	color: var(--black);

	font-family: Gelasio;
}

/* #region navigation bar */
nav {
	position: sticky;
	top: 0;
	background-color: var(--white);
	border-bottom: calc(var(--border-thickness) * 1.5) solid var(--yellow);
}
nav, nav * {
	z-index: 2;
}

@media (width > 750px) {
	#button-dropdown-navbar-toggle {
		display: none;
	}
	nav ul {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: calc(var(--base-vertical-padding) * 0.67) var(--base-horizontal-padding);
		list-style-type: none;
	}
	nav ul li {
		display: inline-block;
	}
	nav ul li a {
		padding: calc(var(--base-width) * 0.0625);
		font-size: calc(var(--base-font-size) * 1);
		color: var(--black);
		text-decoration: underline solid calc(var(--border-thickness) * 2) var(--yellow);
		transition-duration: 400ms;

		text-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
	}
	nav ul li a:hover {
		background-color: var(--black);
		color: var(--white);
	}
}
@media (width <= 750px) {
	#button-dropdown-navbar-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: var(--base-horizontal-padding);
		border: none;

		font-size: 1rem;
		font-family: Gelasio;

		background-color: var(--white);
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="false"]::after {
		content: url("./assets/icons/keyboard_arrow_down_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
		/* set the size to the size of the icon (24px by 24px) because by default the height of this ::after element is more than 24px for some reason */
		width: 24px;
		height: 24px;
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="true"]::after {
		content: url("./assets/icons/keyboard_arrow_up_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
		width: 24px;
		height: 24px;
	}
	nav ul[data-dropdown-visible="false"] {
		display: none;
	}
	nav ul[data-dropdown-visible="true"] {
		display: block;
	}
	nav ul {
		margin: 0;
		padding: 0;
		background-color: var(--yellow);
		list-style-type: none;
	}
	nav ul li.current-page {
		display: none;
	}
	nav ul li a {
		display: block;
		padding: var(--base-horizontal-padding);
		color: var(--black);
		text-decoration: none;
	}
}
/* #endregion */


section {
	padding: var(--base-horizontal-padding);
	border-top: calc(var(--border-thickness) * 1.5) solid var(--yellow);
}

/* #region h1 */
#h1-section {
	background: linear-gradient(135deg,rgba(255, 190, 2, 0.5) 0%, rgba(255, 251, 255, 1) 40%, rgba(255, 251, 255, 1) 60%, rgba(39, 166, 98, 0.5) 100%);
	border-top: none;
	padding-top: 0;

	text-align: center;
}
h1 {
	display: inline-block;
	margin: 0;

	text-align: left;
	text-wrap: nowrap;

	font-weight: 900;
}
#h1-first-letter {
	position: relative;
	top: calc(var(--base-width) * 0.34);

	font-size: var(--base-width);
	font-family: Gelasio;
}
#h1-title-after-first-letter {	
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: calc(var(--base-width) * 0.5);
}
#h1-title-after-first-letter::after{
	content: "";
	display: block;
}
#h1-subtitle {
	position: relative;
	left: calc(var(--base-width) * 0.7);
	bottom: calc(var(--base-width) * 0.5);

	border-top: var(--border-thickness) solid black;
	padding-top: calc(var(--base-width) * 0.05);

	font-weight: 400;
	font-family: Gelasio;
	font-size: calc(var(--base-width) * 0.188);
}
#image-logo {
	display: inline-block;
	width: var(--base-width);
	padding-left: calc(var(--base-width) * 0.1);
	position: relative;
	bottom: calc(var(--base-width) * 0.48);
}

#motto, #summary {
	display: block;
	margin-bottom: calc(var(--base-width) * 0.3)
}
#motto {
	font-weight: 500;
	font-size: calc(var(--base-font-size) * 2.4);
}
#summary {
	font-size: var(--base-font-size);
}

.button-link {
	display: inline-block;
	padding: 0.8rem 1.6rem;
	background-color: var(--yellow);
	color: var(--black);

	text-decoration: none;
	font-size: 1.25rem;
	transition-duration: 400ms;
}
.button-link:hover {
	background-color: var(--black);
	color: var(--white);
}
/* #endregion */

ul.box-list {
	list-style-type: none;
	padding-left: 0;
	/* display: flex; */
}
ul.box-list li {
	display: block;
	padding: var(--base-vertical-padding) var(--base-horizontal-padding);
	margin: 1rem 0;
	box-shadow: var(--box-shadow-colour) 0 calc(var(--base-width) * 0.125) calc(var(--base-width) * 0.5) 0;
}
ul.box-list h3 {
	margin-top: 0;
}
#vision-mission-list {
	display: flex;
	justify-content: space-between;
}
#vision-mission-list li {
	width: 100%;
}