html {
	--black: #000000;
	--white: #FFFBFF;
	--yellow: #FFBE02;
	--green: #27A662;
}

body {
	font-family: Gelasio;
	background-color: var(--white);
	color: var(--black);
	margin: 0;
}

#h1-section {
	display: block;
	background: linear-gradient(135deg,rgba(255, 190, 2, 0.3) 0%, rgba(255, 251, 255, 1) 40%, rgba(255, 251, 255, 1) 60%, rgba(39, 166, 98, 0.3) 100%);
	background-clip: border-box;
	padding: 4rem;
	text-align: center;
	border-color: var(--black);
	border-style: solid;
	border-width: 0.2rem 0;
}

h1 {
	display: block;
	margin-top: 0;
	font-size: 6rem;
}
h1 span {
	display: block;
	font-family: Montserrat;
	font-size: 1.6rem;
}
#h1-section p {
	font-size: 1.4rem;
}

nav {
	background-color: var(--yellow);
	display: flex;
	/* justify-content: space-between; */
	/* align-items: stretch; */
}
nav a {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	
	text-align: center;
	color: var(--black);
	font-family: Montserrat;
	/* text-transform: uppercase; */
	text-decoration: none;
	font-weight: 600;

	transition-duration: 400ms;
}
nav a:first-child {
	max-width: fit-content;
	padding-right: 2rem;
}
nav a:not(:first-child) {
	border-left: 0.05rem solid var(--black);
}

nav a:hover {
	background-color: var(--green);
	color: var(--white);
}
nav a img {
	margin-right: 0.2rem;
}

.text-logo {
	width: 10rem;
}