<footer>
	<div id="footer-intro-container">
		{% include organisation-logo.html %}
		<div>
			<span>Introducing entrepreneurship to Malaysian students.</span>
		</div>
		<div>
			<a href="/rules-and-regulations-tiger-tank-student-entrepreneurship-competition.pdf">Rules and regulations</a>
		</div>
	</div>
	<div>
		<address>
			<dl>
				<dt class="footer-heading">Contact us</dt>
				<dd>
					<ul>
						<li><a href="mailto:tigertankmalaysia@gmail.com">tigertankmalaysia@gmail.com</a></li>
						<li><a href="tel:+60166658769">+60 16-665 8769</a><span> (Marcus Ong, Founder and Managing Director)</span></li>
					</ul>
				</dd>
			</dl>
		</address>
	</div>
	<div>
		<address>
			<dl>
				<dt class="footer-heading">Connect with us</dt>
				<dd>
					<ul id="social-media-list">
						<li><a href="https://instagram.com/tigertankmy" data-icon="instagram"></a></li>
						<li><a href="https://tiktok.com/@tigertankmy" data-icon="tiktok"></a></li>
						<li><a href="https://linkedin.com/company/tiger-tank-malaysia" data-icon="linkedin"></a></li>
					</ul>
				</dd>
			</dl>
		</address>
	</div>
</footer>