<nav>
	<a href="/">
		{% include organisation-logo.html %}
	</a>
	<ul id="navigation-list">
		{% for item in site.data.navigation-bar %}

			{% assign currentUrl = item.link | append: ".html" %}

			<li {% if page.url == currentUrl %}class="current-page"{% endif %}>
				<a href="{{ item.link }}">
					<span class="{{ item.icon-class }} nav-link-icon"></span>
					<span class="nav-link-anchor-text">{{ item.name }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
	<button id="button-dropdown-navbar-toggle"></button>
</nav>