footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: calc(var(--base-horizontal-padding) / 4) var(--base-horizontal-padding);
	background-color: var(--grey);
	color: var(--black);

	gap: calc(var(--base-horizontal-padding) / 4) calc(var(--base-horizontal-padding) / 3);

	/* 1rem, since --base-font-size is 1.2rem */
	font-size: calc(var(--base-font-size) * 0.83);
}

.footer-heading {
	display: block;
	margin: 1em 0;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 500;
}
.organisation-logo-container {
	display: grid;
	grid-template-areas:
		"first-letter title-after-first-letter image-logo"
		"first-letter subtitle image-logo";
	grid-template-rows: 1.2em;
	width: fit-content;

	font-size: var(--base-font-size);
}
.organisation-logo-container > .text-logo-first-letter {
	grid-area: first-letter;

	line-height: 1;
	font-family: Gelasio, serif;
	font-size: 2.6em;
	font-weight: 700;
}
.organisation-logo-container > .text-logo-after-first-letter {
	grid-area: title-after-first-letter;

	text-transform: uppercase;
	font-weight: 900;
}
.organisation-logo-container > .text-logo-subtitle {
	grid-area: subtitle;

	border-top: calc(var(--border-thickness) * 0.33) solid black;

	/* text-transform: capitalize; */
	text-transform: uppercase;
	font-weight: 500;
	/* font-family: monospace; */
	font-size: 0.8em;
	letter-spacing: 0.28em;
}
.organisation-logo-container > .image-logo {
	grid-area: image-logo;
	align-self: center;
	width: 3em;
	margin-left: 0.3em;
}

#footer-intro-container > div:last-child {
	padding-top: 0.5em;
}

address {
	font-style: normal;
}
address dl {
	margin: 0;
}
address dd {
	margin: 0;
}
address dd ul {
	padding: 0;
	list-style-type: none;
}
#social-media-list {
	display: flex;
	justify-content: space-between;
}
#social-media-list a {
	background-image: none;
}
#social-media-list a:hover {
	filter: none;
	transform: scale(1.2);
}
[data-icon="instagram"] {
	content: url("../assets/icons/brands/Instagram_Glyph_Black.svg");
	width: 2rem;
}
[data-icon="tiktok"] {
	content: url("../assets/icons/brands/Tiktok_icon.svg");
	width: 2rem;
}
[data-icon="linkedin"] {
	content: url("../assets/icons/brands/InBug-Black.png");
	width: 2rem;
}