footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: calc(var(--base-horizontal-padding) / 2) var(--base-horizontal-padding);
	background-color: var(--grey);
	color: var(--black);

	/* 1rem, since --base-font-size is 1.2rem */
	font-size: calc(var(--base-font-size) * 0.83);
	
	@media (width < 1110px) {
		display: block;
	}
}

.footer-heading {
	display: block;
	margin: 1rem 0;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 500;
}
.organisation-logo {
	display: flex;
	align-items: center;
}
.organisation-logo > .text-logo-first-letter {
	font-family: Gelasio;
	font-size: 1.4rem;
}
.organisation-logo > .text-logo-after-first-letter {
	font-weight: 900;
}
.organisation-logo > .text-logo-after-first-letter > .text-logo-malaysia {
	font-weight: 500;
}
.organisation-logo > .image-logo {
	width: 4rem;
	margin-left: 0.5rem;
}

address {
	font-style: normal;
}
address dl {
	margin: 0;
}
address dd {
	margin: 0;
}
address dd ul {
	padding: 0;
	list-style-type: none;
}
#social-media-list {
	display: flex;
	justify-content: space-between;
}
[data-icon="instagram"] {
	content: url("../assets/icons/brands/Instagram_Glyph_Black.svg");
	width: 2rem;
}
[data-icon="tiktok"] {
	content: url("../assets/icons/brands/Tiktok_icon.svg");
	width: 2rem;
}
[data-icon="linkedin"] {
	content: url("../assets/icons/brands/InBug-Black.png");
	width: 2rem;
}