nav {
	position: sticky;
	top: 0;
	background-color: var(--white);
	border-bottom: var(--border-thickness) solid var(--yellow);
	font-size: calc(var(--base-font-size) * 0.83);
}
nav, nav * {
	z-index: 2;
}

/* desktop */
@media (width > 825px) {
	#button-dropdown-navbar-toggle {
		display: none;
	}
	nav ul {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: calc(var(--base-horizontal-padding) / 6) var(--base-horizontal-padding);
		list-style-type: none;
	}
	nav ul li a {
		display: flex;
		padding: calc(var(--base-width) * 0.0625);
		color: var(--black);
		text-decoration: underline solid calc(var(--border-thickness) * 1.33) var(--yellow);
		transition-duration: 400ms;

		/* text-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px; */
	}
	nav ul li a:hover {
		background-color: var(--black);
		color: var(--white);
	}
}
/* mobile */
@media (width <= 825px) {
	#button-dropdown-navbar-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: calc(var(--base-horizontal-padding) / 2) var(--base-horizontal-padding);
		border: none;

		background-color: var(--white);
	}
	#button-dropdown-navbar-toggle div {
		display: flex;
		align-items: center;
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="false"]::after {
		content: url("../assets/icons/keyboard_arrow_down_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="true"]::after {
		content: url("../assets/icons/keyboard_arrow_up_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
	}
	nav ul[data-dropdown-visible="false"] {
		display: none;
	}
	nav ul[data-dropdown-visible="true"] {
		display: block;
	}
	nav ul {
		margin: 0;
		padding: 0;
		background-color: var(--yellow);
		list-style-type: none;
	}
	nav ul li.current-page {
		display: none;
	}
	nav ul li a {
		display: flex;
		align-items: center;
		padding: calc(var(--base-horizontal-padding) / 3) var(--base-horizontal-padding);
		color: var(--black);
		text-decoration: none;
	}
}
.nav-link-icon {
	display: inline;
	margin-right: 0.4rem;
}
.home-icon {
	content: url("../assets/icons/navigation/black/home_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.registration-icon {
	content: url("../assets/icons/navigation/black/checkbook_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.resources-icon {
	content: url("../assets/icons/navigation/black/books_movies_and_music_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.faq-icon {
	content: url("../assets/icons/navigation/black/contact_support_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.sponsors-and-partners-icon {
	content: url("../assets/icons/navigation/black/handshake_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}