nav {
	position: sticky;
	top: 0;
	background-color: var(--white);
	border-bottom: var(--border-thickness) solid var(--yellow);
	font-size: calc(var(--base-font-size) * 0.83);
}
nav > ul {
	display: flex;
	list-style-type: none;
}
nav, nav * {
	z-index: 2;
}
nav ul li a::after {
	display: none;
}

/* desktop */
@media (width > 825px) {
	#button-dropdown-navbar-toggle {
		display: none;
	}
	nav > ul {
		justify-content: space-between;
		margin: 0;
		padding: calc(var(--base-horizontal-padding) / 6) var(--base-horizontal-padding);
	}
	nav > ul > li > a {
		--padding: calc(var(--base-width) * 0.0625);
		--text-width: calc(100% - 24px - var(--padding) - var(--padding) - 0.4em);
		padding: var(--padding);
		display: flex;

		color: var(--black);
		background-color: var(--white);
		background-image: linear-gradient(var(--yellow), var(--yellow));
		/* nav icons are 24 px with a 0.4em margin-right */
		background-position: calc(24px + var(--padding) + 0.4em) calc(50% + 0.6em);
		background-size: var(--text-width) 0.15em;

		transition-duration: 0.3s;
	}
	nav > ul > li > a:hover {
		background-color: var(--grey);
		background-position: calc(100% - var(--padding)) calc(50% + 0.6em);
		
		/* reset default a:hover styling */
		filter: none;
	}
	nav > ul > li.current-page > a {
		/* background-color: var(--grey); */
		background-image: none;
		font-weight: 600;
	}
}
/* mobile */
@media (width <= 825px) {
	#button-dropdown-navbar-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: calc(var(--base-horizontal-padding) / 3) var(--base-horizontal-padding);
		border: none;

		background-color: var(--white);
	}
	#button-dropdown-navbar-toggle div {
		display: flex;
		align-items: center;
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="false"]::after {
		content: url("../assets/icons/keyboard_arrow_down_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
	}
	#button-dropdown-navbar-toggle[data-dropdown-visible="true"]::after {
		content: url("../assets/icons/keyboard_arrow_up_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
	}
	nav > ul[data-dropdown-visible="false"] {
		display: none;
	}
	nav > ul[data-dropdown-visible="true"] {
		display: block;
	}
	nav > ul {
		margin: 0;
		padding: 0;
		background-color: var(--yellow);
		list-style-type: none;
	}
	nav > ul > li.current-page {
		display: none;
	}
	nav > ul > li > a {
		display: flex;
		align-items: center;
		padding: calc(var(--base-horizontal-padding) / 3) var(--base-horizontal-padding);
		color: var(--black);
		text-decoration: none;
		/* remove default <a> styling */
		background-image: none;
	}
}
.nav-link-icon {
	display: inline;
	margin-right: 0.4em;
}
.home-icon {
	content: url("../assets/icons/navigation/black/home_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.competition-icon {
	content: url("../assets/icons/navigation/black/podium_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.resources-icon {
	content: url("../assets/icons/navigation/black/books_movies_and_music_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.faq-icon {
	content: url("../assets/icons/navigation/black/contact_support_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}
.sponsors-and-partners-icon {
	content: url("../assets/icons/navigation/black/handshake_24dp_222222_FILL0_wght400_GRAD0_opsz24.svg");
}