main {
	padding: calc(var(--base-horizontal-padding) / 4) var(--base-horizontal-padding);
	gap: calc(var(--base-horizontal-padding) / 2)
}
@media (width < 900px) {
	main {
		display: flex;
		flex-direction: column;
	}
}
@media (width >= 900px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"prelude-container prelude-container"
			"user-input-container canvas-container";
	}
	#prelude-container {
		grid-area: prelude-container;
	}
	#user-input-container {
		grid-area: user-input-container;
	}
	#canvas-container {
		grid-area: canvas-container;
	}
}

#user-input-container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--base-font-size));
}
button {
	width: fit-content;
	padding: 1rem 2rem;
	border: none;

	background-color: var(--yellow);
	font-family: inherit;
	font-size: 1rem;

	transition-duration: 0.3s;
}
button:hover {
	cursor: pointer;
	background-color: var(--grey);
}
#user-input-container > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--base-font-size));
}

canvas {
	width: 100%;
}

input, textarea {
	font-size: var(--base-font-size);
	padding: 1rem;
}
#user-input-container > div#text-input-container, #user-input-container > div#font-family-input-container {
	flex-direction: column;
	align-items: flex-start;
}
textarea#text-input, input#font-family-input {
	width: 100%;
	box-sizing: border-box;
	font-family: monospace;
}
#font-family-load-status {
	text-transform: uppercase;
	font-family: monospace;
	font-size: 1rem;
}
#font-family-load-status::before {
	content: "> ";
}
#font-family-load-status.font-active {
	color: green;
}
#font-family-load-status.font-loading {
	color: blue;
}
#font-family-load-status.font-inactive {
	color: red;
}