<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% if page.url == "/" %}
			Tiger Tank Malaysia
		{% else %}
			{{ page.title }} | Tiger Tank Malaysia
		{% endif %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/main.css">
	<link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/logos.css">
	<link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/footer.css">

	<script src="../dropdown-navbar-toggle.js" type="module" defer></script>
</head>
<body>
	{% include navigation-bar.html %}
	<main>
		{{ content }}
	</main>
	{% include footer-bar.html %}
</body>
</html>